@model IEnumerable<ModelCodeFirst.Models.ReBook>
@{
    Layout = null;
}

@foreach (var Item in Model)
{
    <p>@Html.DisplayFor(ModelItem => Item.Description)</p>
    <p>@Html.DisplayFor(ModelItem => Item.Author)</p>
    <p>@Html.DisplayFor(ModelItem => Item.CreatedDate)</p>
}