@model Test2.NightMarket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NightMarket</h4>
    <hr />
    <div class="row">
		<div class="col-md-6">
			<img src="/images/@(Model.ID).jpg" class="img-fluid" />
		</div>

		<div class="col-md-6">
			<div class="card border-5 shadow mb-3">
				<div class="card-header">
					<h3>@Model.Name</h3>
					<h5>@Model.Address</h5>
					<a href="https://www.google.com.tw/maps/search/@(Model.Address)" target="_blank" class="btn btn-danger">地圖</a>
				</div>
			</div>
		</div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
