@model ModelCodeFirst.Models.Book

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>@Html.DisplayFor(modelItem => Model.Title)</h2>
    <div class="card mb-4">

        @if (Model.Photo != null)
        {
            <img src="~/BookPhotos/@Model.Photo" class="card-img-top img-thumbnail" />
        }

        <div class="card-body">

            <p>@Html.Raw(Model.Description.Replace("\r\n", "<br>"))</p>
        </div>
        <div class="card-footer">
            <p class="text-end">
                @Html.DisplayFor(modelItem => Model.Author) 於 	@Html.DisplayFor(modelItem => Model.CreatedDate)
            </p>
        </div>

    </div>
</div>

<hr />
@*嵌入回覆留言表單*@
<div id="ReBookForm" class="bg-light p-5 rounded">
</div>
<hr />

<div>
    @await Component.InvokeAsync("VC_ReBooks", new { ID = Model.ID })
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!--對應到_Layout.cshtml的"await RenderSectionAsync("Scripts", required: false)"-->
<!--Scripts可自己取-->
<!--避免<script src="~/lib/jquery/dist/jquery.min.js"></script>重複載入-->
@section Scripts {
    <script>
        //2.5.7 在PostBooks\Display View中將RePostBooks\Create View以Ajax方式讀入
        $('#ReBookForm').load('/ReBooks/Create')
    </script>
}